In [5]:
import pandas as pd
from glob import glob

In [11]:
glob("../data/지역*.xls")

['../data\\지역_위치별(주유소) (01).xls',
 '../data\\지역_위치별(주유소) (02).xls',
 '../data\\지역_위치별(주유소) (03).xls',
 '../data\\지역_위치별(주유소) (04).xls',
 '../data\\지역_위치별(주유소) (05).xls',
 '../data\\지역_위치별(주유소) (06).xls',
 '../data\\지역_위치별(주유소) (07).xls',
 '../data\\지역_위치별(주유소) (08).xls',
 '../data\\지역_위치별(주유소) (09).xls',
 '../data\\지역_위치별(주유소) (10).xls',
 '../data\\지역_위치별(주유소) (11).xls',
 '../data\\지역_위치별(주유소) (12).xls',
 '../data\\지역_위치별(주유소) (13).xls',
 '../data\\지역_위치별(주유소) (14).xls',
 '../data\\지역_위치별(주유소) (15).xls',
 '../data\\지역_위치별(주유소) (16).xls',
 '../data\\지역_위치별(주유소) (17).xls',
 '../data\\지역_위치별(주유소) (18).xls',
 '../data\\지역_위치별(주유소) (19).xls',
 '../data\\지역_위치별(주유소) (20).xls',
 '../data\\지역_위치별(주유소) (21).xls',
 '../data\\지역_위치별(주유소) (22).xls',
 '../data\\지역_위치별(주유소) (23).xls',
 '../data\\지역_위치별(주유소) (24).xls',
 '../data\\지역_위치별(주유소).xls']

In [17]:
stations_files = glob('../data/지역*.xls')

In [18]:
tmp_raw = []

for file_name in stations_files:
    tmp = pd.read_excel(file_name, header=2)
    tmp_raw.append(tmp)
    
station_raw = pd.concat(tmp_raw)

In [19]:
station_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 537 entries, 0 to 45
Data columns (total 10 columns):
지역       537 non-null object
상호       537 non-null object
주소       537 non-null object
상표       537 non-null object
전화번호     537 non-null object
셀프여부     537 non-null object
고급휘발유    537 non-null object
휘발유      537 non-null object
경유       537 non-null object
실내등유     537 non-null object
dtypes: object(10)
memory usage: 46.1+ KB

In [20]:
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,오렌지주유소,서울 강동구 성안로 102 (성내동),SK에너지,02-484-6165,N,-,1554,1354,997
1,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1556,1355,-
2,서울특별시,GS칼텍스㈜직영 신월주유소,서울 강동구 양재대로 1323 (성내동),GS칼텍스,02-475-2600,N,1855,1559,1349,1000
3,서울특별시,광성주유소,서울 강동구 올림픽로 673 (천호동),S-OIL,02-470-5133,N,-,1578,1388,1100
4,서울특별시,(주)소모에너지엔테크놀러지성내주유소,서울 강동구 올림픽로 578 (성내동),GS칼텍스,02-479-3838,Y,-,1588,1388,-

In [21]:
stations = pd.DataFrame({'Oil_store':station_raw['상호'],
                              '주소':station_raw['주소'],
                              '가격':station_raw['휘발유'],
                              '셀프':station_raw['셀프여부'],
                              '상표':station_raw['상표']  })

stations.head()

             Oil_store    가격      상표 셀프                      주소
0               오렌지주유소  1554   SK에너지  N    서울 강동구 성안로 102 (성내동)
1               구천면주유소  1556  현대오일뱅크  N   서울 강동구 구천면로 357 (암사동)
2       GS칼텍스㈜직영 신월주유소  1559   GS칼텍스  N  서울 강동구 양재대로 1323 (성내동)
3                광성주유소  1578   S-OIL  N   서울 강동구 올림픽로 673 (천호동)
4  (주)소모에너지엔테크놀러지성내주유소  1588   GS칼텍스  Y   서울 강동구 올림픽로 578 (성내동)