In [1]:
import pandas as pd
import numpy as np

import platform
import matplotlib.pyplot as plt

%matplotlib inline

path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')    

plt.rcParams['axes.unicode_minus'] = False

In [2]:
election_result = pd.read_csv('../data/05. election_result.csv', encoding='utf-8', 
                              index_col=0)
election_result.head()

    광역시도   시군       pop      moon     hong      ahn
0  서울특별시  종로구  102566.0   42512.0  22325.0  22313.0
1  서울특별시   중구   82852.0   34062.0  17901.0  19372.0
2  서울특별시  용산구  148157.0   58081.0  35230.0  32109.0
3  서울특별시  성동구  203175.0   86686.0  40566.0  45674.0
4  서울특별시  광진구  240030.0  105512.0  46368.0  52824.0

In [3]:
sido_candi =  election_result['광역시도']
sido_candi = [name[:2] if name[:2] 
                                          in ['서울','부산','대구','광주','인천','대전','울산']
                                    else '' for name in sido_candi]

In [4]:
def cut_char_sigu(name):
    return name if len(name)==2 else name[:-1]

In [5]:
import re

sigun_candi = ['']*len(election_result)

for n in election_result.index:
    each = election_result['시군'][n]
    if each[:2] in ['수원', '성남','안양','안산','고양',
                            '용인','청주','천안','전주','포항','창원']:
        sigun_candi[n] = re.split('시', each)[0]+' '+ \
                                                        cut_char_sigu(re.split('시', each)[1])
    else:
        sigun_candi[n] = cut_char_sigu(each)
        
sigun_candi

['종로',
 '중구',
 '용산',
 '성동',
 '광진',
 '동대문',
 '중랑',
 '성북',
 '강북',
 '도봉',
 '노원',
 '은평',
 '서대문',
 '마포',
 '양천',
 '강서',
 '구로',
 '금천',
 '영등포',
 '동작',
 '관악',
 '서초',
 '강남',
 '송파',
 '강동',
 '중구',
 '서구',
 '동구',
 '영도',
 '부산진',
 '동래',
 '남구',
 '북구',
 '해운대',
 '기장',
 '사하',
 '금정',
 '강서',
 '연제',
 '수영',
 '사상',
 '중구',
 '동구',
 '서구',
 '남구',
 '북구',
 '수성',
 '달서',
 '달성',
 '중구',
 '동구',
 '남구',
 '연수',
 '남동',
 '부평',
 '계양',
 '서구',
 '강화',
 '옹진',
 '동구',
 '서구',
 '남구',
 '북구',
 '광산',
 '동구',
 '중구',
 '서구',
 '유성',
 '대덕',
 '중구',
 '남구',
 '동구',
 '북구',
 '울주',
 '세종특별자치',
 '수원 장안',
 '수원 권선',
 '수원 팔달',
 '수원 영통',
 '성남 수정',
 '성남 중원',
 '성남 분당',
 '의정부',
 '안양 만안',
 '안양 동안',
 '부천',
 '광명',
 '평택',
 '양주',
 '동두천',
 '안산 상록',
 '안산 단원',
 '고양 덕양',
 '고양 일산동',
 '고양 일산서',
 '과천',
 '의왕',
 '구리',
 '남양주',
 '오산',
 '화성',
 '시흥',
 '군포',
 '하남',
 '파주',
 '여주',
 '이천',
 '용인 처인',
 '용인 수지',
 '용인 기흥',
 '안성',
 '김포',
 '광주',
 '포천',
 '연천',
 '양평',
 '가평',
 '춘천',
 '원주',
 '강릉',
 '동해',
 '삼척',
 '태백',
 '정선',
 '속초',
 '고성',
 '양양',
 '인제',
 '홍천',
 '횡성',
 '영월',
 '평창',
 '화천',
 '양구',
 '철원',
 '청주 상당',
 '청주 서원',
 '청주 흥덕',
 '청주 청원',
 '충주',
 '제천',
 '단양',
 '영동',
 '보은',
 '옥천',
 '음성',
 '진천',
 '괴산',
 '증평',
 '천안 서북',
 '천안 동남',
 '공주',
 '보령',
 '아산',
 '서산',
 '태안',
 '금산',
 '논산',
 '계룡',
 '당진',
 '부여',
 '서천',
 '홍성',
 '청양',
 '예산',
 '전주 완산',
 '전주 덕진',
 '군산',
 '익산',
 '정읍',
 '남원',
 '김제',
 '완주',
 '진안',
 '무주',
 '장수',
 '임실',
 '순창',
 '고창',
 '부안',
 '목포',
 '여수',
 '순천',
 '나주',
 '광양',
 '담양',
 '장성',
 '곡성',
 '구례',
 '고흥',
 '보성',
 '화순',
 '장흥',
 '강진',
 '완도',
 '해남',
 '진도',
 '영암',
 '무안',
 '영광',
 '함평',
 '신안',
 '포항 북구',
 '포항 남구',
 '울릉',
 '경주',
 '김천',
 '안동',
 '구미',
 '영주',
 '영천',
 '상주',
 '문경',
 '예천',
 '경산',
 '청도',
 '고령',
 '성주',
 '칠곡',
 '군위',
 '의성',
 '청송',
 '영양',
 '영덕',
 '봉화',
 '울진',
 '창원 의창',
 '창원 성산',
 '창원 마산합포',
 '창원 마산회원',
 '창원 진해',
 '진주',
 '통영',
 '고성',
 '사천',
 '김해',
 '밀양',
 '거제',
 '의령',
 '함안',
 '창녕',
 '양산',
 '하동',
 '남해',
 '함양',
 '산청',
 '거창',
 '합천',
 '제주',
 '서귀포']

In [6]:
ID_candi = [sido_candi[n]+' '+sigun_candi[n] for n in range(0,len(sigun_candi))]

ID_candi = [name[1:] if name[0]==' ' else name for name in ID_candi]
ID_candi = [name[:2] if name[:2]=='세종' else name for name in ID_candi]

ID_candi

['서울 종로',
 '서울 중구',
 '서울 용산',
 '서울 성동',
 '서울 광진',
 '서울 동대문',
 '서울 중랑',
 '서울 성북',
 '서울 강북',
 '서울 도봉',
 '서울 노원',
 '서울 은평',
 '서울 서대문',
 '서울 마포',
 '서울 양천',
 '서울 강서',
 '서울 구로',
 '서울 금천',
 '서울 영등포',
 '서울 동작',
 '서울 관악',
 '서울 서초',
 '서울 강남',
 '서울 송파',
 '서울 강동',
 '부산 중구',
 '부산 서구',
 '부산 동구',
 '부산 영도',
 '부산 부산진',
 '부산 동래',
 '부산 남구',
 '부산 북구',
 '부산 해운대',
 '부산 기장',
 '부산 사하',
 '부산 금정',
 '부산 강서',
 '부산 연제',
 '부산 수영',
 '부산 사상',
 '대구 중구',
 '대구 동구',
 '대구 서구',
 '대구 남구',
 '대구 북구',
 '대구 수성',
 '대구 달서',
 '대구 달성',
 '인천 중구',
 '인천 동구',
 '인천 남구',
 '인천 연수',
 '인천 남동',
 '인천 부평',
 '인천 계양',
 '인천 서구',
 '인천 강화',
 '인천 옹진',
 '광주 동구',
 '광주 서구',
 '광주 남구',
 '광주 북구',
 '광주 광산',
 '대전 동구',
 '대전 중구',
 '대전 서구',
 '대전 유성',
 '대전 대덕',
 '울산 중구',
 '울산 남구',
 '울산 동구',
 '울산 북구',
 '울산 울주',
 '세종',
 '수원 장안',
 '수원 권선',
 '수원 팔달',
 '수원 영통',
 '성남 수정',
 '성남 중원',
 '성남 분당',
 '의정부',
 '안양 만안',
 '안양 동안',
 '부천',
 '광명',
 '평택',
 '양주',
 '동두천',
 '안산 상록',
 '안산 단원',
 '고양 덕양',
 '고양 일산동',
 '고양 일산서',
 '과천',
 '의왕',
 '구리',
 '남양주',
 '오산',
 '화성',
 '시흥',
 '군포',
 '하남',
 '파주',
 '여주',
 '이천',
 '용인 처인',
 '용인 수지',
 '용인 기흥',
 '안성',
 '김포',
 '광주',
 '포천',
 '연천',
 '양평',
 '가평',
 '춘천',
 '원주',
 '강릉',
 '동해',
 '삼척',
 '태백',
 '정선',
 '속초',
 '고성',
 '양양',
 '인제',
 '홍천',
 '횡성',
 '영월',
 '평창',
 '화천',
 '양구',
 '철원',
 '청주 상당',
 '청주 서원',
 '청주 흥덕',
 '청주 청원',
 '충주',
 '제천',
 '단양',
 '영동',
 '보은',
 '옥천',
 '음성',
 '진천',
 '괴산',
 '증평',
 '천안 서북',
 '천안 동남',
 '공주',
 '보령',
 '아산',
 '서산',
 '태안',
 '금산',
 '논산',
 '계룡',
 '당진',
 '부여',
 '서천',
 '홍성',
 '청양',
 '예산',
 '전주 완산',
 '전주 덕진',
 '군산',
 '익산',
 '정읍',
 '남원',
 '김제',
 '완주',
 '진안',
 '무주',
 '장수',
 '임실',
 '순창',
 '고창',
 '부안',
 '목포',
 '여수',
 '순천',
 '나주',
 '광양',
 '담양',
 '장성',
 '곡성',
 '구례',
 '고흥',
 '보성',
 '화순',
 '장흥',
 '강진',
 '완도',
 '해남',
 '진도',
 '영암',
 '무안',
 '영광',
 '함평',
 '신안',
 '포항 북구',
 '포항 남구',
 '울릉',
 '경주',
 '김천',
 '안동',
 '구미',
 '영주',
 '영천',
 '상주',
 '문경',
 '예천',
 '경산',
 '청도',
 '고령',
 '성주',
 '칠곡',
 '군위',
 '의성',
 '청송',
 '영양',
 '영덕',
 '봉화',
 '울진',
 '창원 의창',
 '창원 성산',
 '창원 마산합포',
 '창원 마산회원',
 '창원 진해',
 '진주',
 '통영',
 '고성',
 '사천',
 '김해',
 '밀양',
 '거제',
 '의령',
 '함안',
 '창녕',
 '양산',
 '하동',
 '남해',
 '함양',
 '산청',
 '거창',
 '합천',
 '제주',
 '서귀포']

In [7]:
election_result['ID'] = ID_candi
election_result.head(10)

    광역시도    시군       pop      moon     hong      ahn      ID
0  서울특별시   종로구  102566.0   42512.0  22325.0  22313.0   서울 종로
1  서울특별시    중구   82852.0   34062.0  17901.0  19372.0   서울 중구
2  서울특별시   용산구  148157.0   58081.0  35230.0  32109.0   서울 용산
3  서울특별시   성동구  203175.0   86686.0  40566.0  45674.0   서울 성동
4  서울특별시   광진구  240030.0  105512.0  46368.0  52824.0   서울 광진
5  서울특별시  동대문구  236092.0   98958.0  51631.0  53359.0  서울 동대문
6  서울특별시   중랑구  265706.0  111450.0  56545.0  62778.0   서울 중랑
7  서울특별시   성북구  295866.0  129263.0  57584.0  66518.0   서울 성북
8  서울특별시   강북구  210614.0   89645.0  42268.0  51669.0   서울 강북
9  서울특별시   도봉구  229233.0   94898.0  47461.0  55600.0   서울 도봉

In [8]:
election_result[['rate_moon','rate_hong','rate_ahn']] = \
            election_result[['moon','hong','ahn']].div(election_result['pop'],  axis=0)
election_result[['rate_moon','rate_hong','rate_ahn']] *= 100
election_result.head()

,광역시도,시군,pop,moon,hong,ahn,ID,rate_moon,rate_hong,rate_ahn
0,서울특별시,종로구,102566.0,42512.0,22325.0,22313.0,서울 종로,41.448433,21.766472,21.754773
1,서울특별시,중구,82852.0,34062.0,17901.0,19372.0,서울 중구,41.111862,21.605996,23.381451
2,서울특별시,용산구,148157.0,58081.0,35230.0,32109.0,서울 용산,39.202333,23.778829,21.672280
3,서울특별시,성동구,203175.0,86686.0,40566.0,45674.0,서울 성동,42.665682,19.966039,22.480128
4,서울특별시,광진구,240030.0,105512.0,46368.0,52824.0,서울 광진,43.957839,19.317585,22.007249

In [9]:
draw_korea = pd.read_csv('../data/05. draw_korea.csv', encoding='utf-8', 
                                                                                                 index_col=0)
draw_korea.head()

   y   x      ID
0  0   7      철원
1  0   8      화천
2  0   9      양구
3  0  10  고성(강원)
4  1   3      양주

In [10]:
set(draw_korea['ID'].unique()) - set(election_result['ID'].unique())

{'고성(강원)', '고성(경남)', '부천 소사', '부천 오정', '부천 원미', '창원 합포', '창원 회원'}

In [11]:
set(election_result['ID'].unique()) - set(draw_korea['ID'].unique())

{'고성', '부천', '창원 마산합포', '창원 마산회원'}

In [12]:
election_result[election_result['ID'] == '고성']

,광역시도,시군,pop,moon,hong,ahn,ID,rate_moon,rate_hong,rate_ahn
125,강원도,고성군,18692.0,5664.0,6511.0,3964.0,고성,30.301733,34.833084,21.206933
233,경상남도,고성군,34603.0,9848.0,16797.0,4104.0,고성,28.459960,48.542034,11.860243